.overview{
    display: flex;
    flex-direction:column; 
    font-family: Montserrat;
    align-items: center;
    margin:  10px;
    width: 100%;
    
}

.BalanceBox{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;

}

.AddTransaction{
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    cursor:pointer;
    font-weight: bold;
    font-size: 12px;
    text-align: center;



}
.AddTransactionContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e8e9;
    gap: 10px;
    padding:15px 20px;
    width: 100%;
    margin:  20px;
}
.input{
    outline:none;
    padding:10px 12px ;
    border: radius 4px; ;
    border: solid 1px #e6e8e9;
}
.RadioBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.ExpenseContainer{

    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: 20px;

}


.ExpenseBox{
 
display: flex;
flex-direction:column;
border-radius: 4px;
border: 1px solid #e6e8e9;
padding: 15px 20px;
width: 135px;
font-size: 14px;

}
span{
    font-weight: bold;
    font-size: 15px;
    }
    
 .income{
        color:green;
    }

    .expense{
        color: red;
    } 


